<footer class="bg-blue-600 text-white py-4 mt-8 shadow-inner">
    <div class="container mx-auto text-center">
        &copy; <%= new Date().getFullYear() %> <%= siteName %>. All rights reserved.
    </div>
</footer>